[submodule "shared"]
	path = shared
	url = https://github.com/MamangRust/monolith-payment-gateway-shared.git
[submodule "pkg"]
	path = pkg
	url = https://github.com/MamangRust/monolith-payment-gateway-pkg.git
[submodule "proto"]
	path = proto
	url = https://github.com/MamangRust/monolith-payment-gateway-pb.git
[submodule "pb"]
	path = pb
	url = https://github.com/MamangRust/monolith-payment-gateway-pb.git
